/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: "dm-sans", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: "bc-novatica-cyr", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "bc-novatica-cyr", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


/* SITE-HEADER */
.site-header {
    display: block;
    margin-top: 3em;
    margin-bottom: 4em;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .logo img{
    width: 50%;
}

.site-header .site-nav ul{
    display: flex;
}

.site-header .site-nav ul li{
    list-style: none;
    margin-left: 1.5em;
}

.site-header .site-nav ul li a{
    color: rgb(18, 18, 18);
    text-decoration: none;
}

.site-header .site-nav ul li a:hover {
    color: rgb(32, 125, 255);
}

/* HERO */
.hero {
    display: flex;
    margin-bottom: 4em;
    justify-content: space-between;
}

.hero h2 {
    letter-spacing: 0.05em;
    color:rgb(27, 27, 27);
    font-size: 2em;
    margin: 0;
}

.hero p {
    font-weight: 300;
    color:rgb(27, 27, 27);
    width: 46%;
    margin: 0;
}

/* LAYOUT */
.site-main {
    margin-bottom: 4em;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container.about {
    display: flex;
}

.container.about img{
    width: 40%;
}

.container.about p {
    margin-left: 5em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
}

.column {
    position: relative;
}

.column.left {
    margin-right: 0.5%;
    margin-bottom: 0.5%;
}

.column.right {
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}

.column img {
    width: 100%;
    box-shadow: 0 0 1px 0 rgba(47, 47, 47, 0.488);
    margin: 0;
}

/* THUMBNAIL HOVER */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(255, 255, 255);
    /* margin-bottom: 1%; */
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #212121b5;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.column:hover .overlay {
    bottom: 0;
    height: 100%;
}

/* SUBPAGE LAYOUT */
.subhero {
    /* max-width: 800px; */
    display: block;
    margin: 7em auto;
}

.subhero ul {
    list-style: none;
    padding: 0;
}

.subhero {
    display: block;
    text-align: left;
}

.subhero .subrow {
    align-items: top;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.subhero h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 0.3em;
    color:rgb(27, 27, 27);
}

.subrow p {
    line-height: 1.5em;
    color:rgb(64, 64, 64);
    /* font-weight: 300; */
}

.subrow strong {
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.h2.margin {
    margin: 5em 0 1.5em 0;
    font-weight: normal;
}

.row.bottom {
    margin-bottom: 7em;
}

.two-thirds.column {
    width: 59%;
}

.one-fourth.column {
    width: 26%;
}

/* SCROLL TO TOP */
.site-footer {
    text-align: center;
    margin: 4em 0 6em 0;
}

.site-footer a {
    color: rgb(86, 86, 86);
    text-decoration: none;
}

/* RESPONSIVE */
body {
    font-size: 87.5%;
}

@media (min-width: 768px) {
    body {
        font-size: 100%;
    }
}
@media (min-width: 1250px) {
    body {
        font-size: 112.5%;
    }
}

@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }

    .column.left {
        margin-right: 0;
    }

    .column.right {
        margin-left: 0;
    }

    .site-header {
        margin: 3em 2em 2em 2em;
    }

    .site-header .container {
        display: block;
        align-items: center;
    }

    .logo h1{
        text-align: center;
    }

    .site-nav ul {
        justify-content: space-between;
        padding: 0;
        margin-top: 3em;
    }

    .site-header .site-nav ul li {
        margin-left: 0;
    }

    .subhero {
        display: flex;
        flex-wrap: wrap;
        margin: 4em 1.5em 3em 1.5em;
    }

    .subhero .subrow {
        display: flex;
        flex-wrap: wrap;
    }

    .two-thirds.column {
        width: 100%;
    }

    .one-fourth.column {
        width: 100%;
    }
}